################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/sem_1_lab_1
/sem_1_lab_2
/sem_1_lab_3/.vs/sem_1_lab_3
/sem_1_lab_3/obj
*.sln
*.csproj
/sem_1_lab_3/bin/Debug/net8.0
/Task 2/obj
/Task 2/bin/Debug/net8.0
/sem_1_lab_3/.vs/ProjectEvaluation
/sem_1_lab_3/Task 1/bin/Debug/net8.0
/sem_1_lab_3/Task 1/obj
/sem_1_lab_3/Task 2/obj
/sem_1_lab_3/Task 2/bin/Debug/net8.0
