################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/sem_1_lab_1
/sem_1_lab_2/.vs/ProjectEvaluation/sem_1_lab_2.metadata.v7.bin
/sem_1_lab_2/.vs/ProjectEvaluation/sem_1_lab_2.projects.v7.bin
/sem_1_lab_2/.vs/sem_1_lab_2/DesignTimeBuild/.dtbcache.v2
/sem_1_lab_2/.vs/sem_1_lab_2/v17/.futdcache.v2
/sem_1_lab_2/.vs/sem_1_lab_2/v17/.suo
*.exe
/sem_1_lab_2/obj/Debug/net8.0/sem_1_lab_2.AssemblyInfoInputs.cache
/sem_1_lab_2/obj/Debug/net8.0/refint/sem_1_lab_2.dll
/sem_1_lab_2/obj/Debug/net8.0/sem_1_lab_2.AssemblyInfo.cs
/sem_1_lab_2/obj/Debug/net8.0/sem_1_lab_2.csproj.BuildWithSkipAnalyzers
/sem_1_lab_2/obj/Debug/net8.0/sem_1_lab_2.csproj.CoreCompileInputs.cache
/sem_1_lab_2/obj/Debug/net8.0/sem_1_lab_2.csproj.FileListAbsolute.txt
/sem_1_lab_2/obj/Debug/net8.0/sem_1_lab_2.dll
/sem_1_lab_2/obj/Debug/net8.0/sem_1_lab_2.genruntimeconfig.cache
/sem_1_lab_2/obj/Debug/net8.0/sem_1_lab_2.pdb
/sem_1_lab_2/obj/Debug/net8.0/sem_1_lab_2.sourcelink.json
/sem_1_lab_2/obj/project.assets.json
/sem_1_lab_2/obj/project.nuget.cache
/sem_1_lab_2/obj/Release/net8.0/sem_1_lab_2.AssemblyInfo.cs
/sem_1_lab_2/obj/Release/net8.0/sem_1_lab_2.AssemblyInfoInputs.cache
/sem_1_lab_2/obj/sem_1_lab_2.csproj.nuget.dgspec.json
*.dll
*.pdb
*.json
*.vsidx
/sem_1_lab_2/.vs/sem_1_lab_2/FileContentIndex/4fde91bb-8242-4a68-8280-6a0e9ed45d76.vsidx
/sem_1_lab_2/.vs/ProjectEvaluation/sem_1_lab_2.metadata.v7.bin
/sem_1_lab_2/.vs/ProjectEvaluation/sem_1_lab_2.projects.v7.bin
/sem_1_lab_2/.vs/sem_1_lab_2/DesignTimeBuild/.dtbcache.v2
/sem_1_lab_2/.vs/sem_1_lab_2/FileContentIndex/4fde91bb-8242-4a68-8280-6a0e9ed45d76.vsidx
/sem_1_lab_2/.vs/sem_1_lab_2/v17/.futdcache.v2
/sem_1_lab_2/.vs/sem_1_lab_2/v17/.suo
/sem_1_lab_2/obj/Release/net8.0/sem_1_lab_2.AssemblyInfoInputs.cache
/sem_1_lab_2/obj/Debug/net8.0/sem_1_lab_2.AssemblyInfo.cs
/sem_1_lab_2/obj/Debug/net8.0/sem_1_lab_2.AssemblyInfoInputs.cache
/sem_1_lab_2/obj/Debug/net8.0/sem_1_lab_2.csproj.FileListAbsolute.txt
/sem_1_lab_2/obj/project.assets.json
/sem_1_lab_2/obj/project.nuget.cache
/sem_1_lab_2/obj/Release/net8.0/sem_1_lab_2.AssemblyInfo.cs
/sem_1_lab_2/obj/sem_1_lab_2.csproj.nuget.dgspec.json
*.tmp
/sem_1_lab_2/~$отокол ЛР2.docx
