################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/sem_1_lab_1/.vs
/sem_1_lab_1/bin/Debug/net6.0
/sem_1_lab_1/obj
/sem_1_lab_2/.vs
/sem_1_lab_2/bin/Debug/net8.0
/sem_1_lab_2/obj
/sem_1_lab_3/Task 1/bin/Debug/net8.0
/sem_1_lab_3/Task 1/obj
/sem_1_lab_3/.vs
/sem_1_lab_3/Task 2/bin/Debug/net8.0
/sem_1_lab_3/Task 2/obj
/sem_1_lab_4/.vs/sem_1_lab_4
/sem_1_lab_4/Task 1/bin/Debug/net8.0
/sem_1_lab_4/Task 1/obj
/sem_1_lab_4/Task 4/bin/Debug/net8.0
/sem_1_lab_4/Task 4/obj
